.messages {
	border: solid blue;
    border-radius: 11px;
    width: 184px;
    background-color: blue;
    color: white;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.error {
	border: solid blue;
    border-radius: 11px;
    width: 184px;
    color: red;
    word-wrap: break-word;
    margin-bottom: 5px;
}
#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

a {
	color: #fff;
}